@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    .gradient {
        color: black;
    }
</style>
<div class="gradient">
    <h1>Table of restaurants</h1>
    <h2>@Model.CurrentMessage</h2>
    @foreach (var restaurant in Model.Restaurants)
    {
        @Html.Partial("_Summary", restaurant)
    }
    <div>
        <a asp-action="Create">Add</a>
    </div>
</div>

